@use "abstracts/variables" as *;

.storage-slider {
  background-color: $veryDarkBlue;
  border-radius: 12px;
  max-width: 310px;
  height: 20px;
  display: flex;
  align-items: center;
}

.inner-slider {
  background: $gradient;
  width: 60%;
  height: 15px;
  border-radius: 12px;
  margin-left: 0.25em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.circle {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.25em;
}
