@use "abstracts/variables" as *;

.storage-indicator {
  background: white;
  color: $veryDarkBlue;
  font-size: 2.5rem;
  border-radius: 8px;
  padding: 0.25em 0.5em;
  display: flex;
  align-items: center;
  justify-items: center;
}

.storage-indicator__text {
  font-size: 0.75rem;
  color: $grayishBlue;
  text-transform: uppercase;
  margin-left: 0.75em;
  margin-top: 0.5em;
}
